*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* color:  hsl(211, 68%, 94%); */
}
body{
    background-color: hsl(210, 60%, 98%);
}
.not{
    margin: 5px;
    display: flex;
    color: #70747f;
    padding: 12px 10px;
    border-radius: 3px;
    cursor: pointer;
}
img{
    margin-right: 15px;
    width: 37px;
    height: 37.33px;
}
a{
    font-weight: 800;
    text-decoration: none;
    color: hsl(224, 21%, 14%);
}
a:hover{
    color:hsl(219, 93%, 38%);
}
#page{
    margin: 5% auto;
    width: 70vw;
    height: auto;
    position: relative;
    background-color: white;
    padding: 20px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px rgb(224, 224, 224);
}
#not{
    font-family:"Plus Jakarta Sans";
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
#count{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    /* width:20px; */
    padding: 1px 8px;
    color: white;
    border-radius: 4px;
    background-color: hsl(224, 83%, 30%);
}
#read{
    position: absolute;
    top: 2vw;
    right: 3vw;
    font-weight: 500;
    font-size: 13px;
    color:hsl(219, 14%, 63%);
    cursor: pointer;
}
#read:hover{
    color:hsl(219, 85%, 26%)
}
.unread{
    background-color:  rgb(185, 217, 239);
}

.dot{
    margin-left: 6px;
    position: relative;
    top: -2px;
    border-radius: 50%;
    display: inline-block;

    background-color: rgb(255, 48, 44);
    width: 5px;
    height: 5px;
}
.pic{
    /* position: absolute; */
    /* right: 0vw; */
    margin-left: 28vw;
    margin-right: 5vw;
}

.msg{
    position: relative;
    right:-20%;
    width: 70%;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 45px;
    background-color: rgb(229,239,249);
}
@media screen and (max-width: 800px) {
#page {
    width: 90vw;
}
.pic{
    margin-left: 10vw;
}
 

}
